{% extends "base.html.twig" %}

{% form_theme formView _self %}

{% block title %}
    Edition de {{ book.title }}
{% endblock %}

{% block body %}
    <h1>Editer le livre {{ book.title }}</h1>

    {{ form_start(formView) }}
    {{ form_errors(formView) }}
    {{ form_row(formView.cover) }}
    {{ form_row(formView.title) }}
    {{ form_row(formView.author) }}
    {{ form_row(formView.editor) }}
    {{ form_row(formView.isbn) }}
    {{ form_row(formView.issn) }}

    <button type="submit" class="btn btn-primary">
        Créer le livre
    </button>

    {{ form_end(formView) }}

{% endblock %}

{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_help(form) }}
        {{ form_errors(form) }}
    </div>
    
{% endblock %}