{% extends "base.html.twig" %}

{% form_theme formView _self %}

{% block title %}
    Modifier la recette {{ recipe.title }}
{% endblock %}

{% block body %}
    <h1>Modifier la recette {{ recipe.title }}</h1>

    <img src="{{asset('pictures/')}}{{recipe.picture}}" class="img-fluid" alt="Photo de la recette">

    {{ form_start(formView) }}
    {{ form_errors(formView) }}
    {{ form_row(formView.picture) }}
    {{ form_row(formView.title) }}
    {{ form_row(formView.page) }}

    <button type="submit" class="btn btn-primary">
        Modifier la recette
    </button>

    {{ form_end(formView) }}

{% endblock %}

{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
        {{ form_help(form) }}
        {{ form_errors(form) }}
    </div>
    

{% endblock %}